# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
kramerbot
.DS_Store
user_store.json
log.json
persist/users_test.db
persist/users.db
persist/deals_test.db
persist/deals.db
users.db
deals.db
users_test.db
token.env
